.categories {
  width: 16.5rem;
}

.categories__container {
  margin-right: 2rem;
  padding-bottom: 2rem;
  position: sticky;
  top: calc(var(--app-header-offset) + 1.5rem);
}

.categories__title {
  padding: 0 1.25rem;
  margin: 0;
  margin-bottom: 0.75rem;
}

.categories__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}