html, body {
  margin: 0;
  padding: 0; 
  background-color: var(--app-background-color);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --app-header-offset: 5rem;
  --app-background-color: #EEEDEC;
  --app-theme-color: #F8B602;
}
