.product {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product__image {
  width: 5rem;
  background-color: lightgray;
}

.product__info {
  width: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product__name {
  max-height: 2.25rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  word-wrap: break-word;
  overflow: hidden;
}

.product__price {
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}